<% props = { services: serialize('index.json', services: @services),
             pagination: serialize('layouts/pagination.json', collection: @services) }.to_json %>

<div class="vue-services" data-props="<%= props %>"></div>
